* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 1em;
}


.container {
  margin: 0 auto;
  max-width: 800px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card--circle {
  display: flex;

  align-items: center;
  justify-content: center;
  border: 1em solid grey;
  border-radius: 50%;
  background: pink;
  max-width: 250px;
  max-height: 250px;

  padding: 20% 20% ;
}

.card--circle-body {
  text-align: center;
}
