:root {
  --dark-bg-color: #1f232c;
  --light-bg-color: #af5a5d;
  --accent-light-color: #e0deef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  background-color: var(--dark-bg-color);
  margin: 0 auto;
}

h1, h2, h3 {
  text-transform: uppercase;

}

main {
  margin: 0 1.5em;
}

p {
  max-width: 50ch;
}

.intro {
  background: var(--dark-bg-color);
  color: white;
  text-align: left;
  padding-top: 5em;
  padding-bottom: 5em;
}

.ghost-btn {
  display: inline-block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  border-radius: .3em;
  padding: .5em;
  margin-top: .5em;
  text-decoration: none;
}

.logo{
  background: var(--light-bg-color);
  max-width: 300px;
  border-radius: 1em;
  padding: 3em;
  text-align: center;
  color: white;
  margin-top: -1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.nav {
  /* position: fixed; */
  /* display: inline-flex; */
  margin-top: 2em;

}

.nav .nav__link:hover,
.nav .nav__link:focus {
  border-top: var(--light-bg-color) .2em solid;
  text-decoration: none;
}

.nav_list {
  display: flex;
}

.nav .nav__link {
  padding-top: 1.7em;
}


.nav__list-item {
  list-style: none;
  text-transform: uppercase;
  color: white;
}

.nav__list-item__divider:not(:first-child):before {
    content: " | ";
}

.nav .nav__list-item + .nav__list-item {
  margin-left: .5em;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}

.nav__link:visited {
  color: var(--accent-light-color);
}



.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  margin: 0 auto;
  padding: 1em;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.features-cards--circle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1em solid var(--accent-light-color);
  border-radius: 50%;
  background: var(--light-bg-color);
  max-width: 200px;
  max-height: 200px;

  padding: 20% 20% ;
}

.card--circle-body {
  text-align: center;
}

.features-cards--square {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.deco-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
  padding: .5em .5em;
  background-color: black;
  color: white;
}

.card--square-title{
  display: inline-flex;
  text-transform: capitalize;
  font-style: oblique;
}

.card--square p {
  margin-top: .3em;
}

.subscribe{
  display: flex;
  margin: 0 auto;
  padding: 1em;

  justify-content: center;
  text-align: center;

  background-color: white;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.subscribe::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  width: 70%;
  border-bottom: 2px solid;
  border-image:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(154,154,154,0.6026785714285714) 48%, rgba(255,255,255,0.7371323529411764) 100%)
              100% 0 100% 0/2px 0 2px 0 stretch;
}

.footer{
  display: flex;
  background: var(--dark-bg-color);
}

.footer-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
}

.footer_list .nav__list-item {
  border-bottom: white 1px solid;
  margin: 1em 0.9em;
}

.footer_list .nav__link {
  text-transform: capitalize;
}

.footer-section h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}


.footer-list__title {
  margin: 1em 0.9em;
}
/* .footer-section p {
  margin: 1em 0.9em;
} */
