:root {
  --dark-bg-color: #1f232c;
  --light-bg-color: #af5a5d;
  --accent-light-color: #e0deef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-bg-color);
  margin: 0 1em;
}

h2 {
  text-transform: uppercase;

}

.intro {
  background: var(--dark-bg-color);
  color: white;
  text-align: left;
}

.logo{
  background: var(--light-bg-color);
  max-width: 30%;
  border-radius: 1em;

}

.nav {
  /* position: fixed; */
}

.nav_list {
  display: flex;
  justify-content: flex-end;
}

.nav__list-item {
  list-style: none;
  text-transform: uppercase;
  color: white;
}

.nav__list-item__divider:not(:first-child):before {
    content: " | ";
}

.nav__list-item + .nav__list-item {
  margin-left: .5em;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}

.nav__link:visited {
  color: var(--accent-light-color);
}



.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  margin: 0 auto;
  padding: 1em;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.features-cards--circle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1em solid var(--accent-light-color);
  border-radius: 50%;
  background: var(--light-bg-color);
  max-width: 200px;
  max-height: 200px;

  padding: 20% 20% ;
}

.card--circle-body {
  text-align: center;
}

.features-cards--square {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.deco-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
  padding: .1em .1em;
  background-color: black;
  color: white;
}

.card--square-title{
  display: inline-flex;
}

.subscribe{
  display: flex;
  margin: 0 auto;
  padding: 1em;

  justify-content: center;
  text-align: center;

  background-color: white;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.footer{
  display: flex;
  background: var(--dark-bg-color);
}

.footer-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.footer__list {
  display: flex;
  flex-direction: column;
}
